## Data pre-processing
In this step, we have to do data pre-processing to clean up data, remove duplicated, null values, and use regular expression to make it tidy & logic

In [1]:
#Import library to combine/merge csv files
import os, glob
import pandas as pd
import numpy as np

In [2]:
path = "C:/Users/ADMIN/Desktop/Data Science/My projects/Job EDA"
all_files = glob.glob(os.path.join(path, "Career_Builder_*.csv"))
df_from_each_file = (pd.read_csv(f, sep=',') for f in all_files)
data_merged  = pd.concat(df_from_each_file, ignore_index=True)
data_merged.to_csv( "Career_Builder.csv")

In [25]:
data=pd.read_csv('Career_Builder.csv')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4743 entries, 0 to 4742
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    4743 non-null   int64
 1   Unnamed: 0.1  4743 non-null   int64
 2   Title         4743 non-null   object
 3   Company       4743 non-null   object
 4   Industry      4743 non-null   object
 5   Type          4743 non-null   object
 6   Location      4743 non-null   object
 7   Salary        4743 non-null   object
 8   Experience    4743 non-null   object
 9   Level         4743 non-null   object
 10  Benefit       4655 non-null   object
 11  Description   4743 non-null   object
 12  Requirement   4743 non-null   object
 13  Link          4743 non-null   object
dtypes: int64(2), object(12)
memory usage: 518.9+ KB

In [26]:
# Handling Industry data by regular expression, create column of 'Industry_re'
import re
d=[]
for i in range(len(data['Industry'])):
    if (data.loc[i,'Industry']!='Not found'):
        chuoi = data.loc[i,'Industry']
        job_industry=re.search('\n(.*)\r',chuoi).group(1).replace(" ", "")
    else:
        job_industry='None'
    d.append({'Industry_re': job_industry})
    
industry=pd.DataFrame(d)

In [27]:
industry.head()

   Industry_re
0  IT-Software
1  IT-Software
2  IT-Software
3  IT-Software
4  IT-Software

In [28]:
data = pd.concat([data, industry], axis=1, join='inner')
data.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'Title', 'Company', 'Industry', 'Type',
       'Location', 'Salary', 'Experience', 'Level', 'Benefit', 'Description',
       'Requirement', 'Link', 'Industry_re'],
      dtype='object')

In [29]:
# Handling Experience data by regular expression, create column of 'Experience_re'
import re
d=[]
for i in range(len(data['Experience'])):
    chuoi = data.loc[i,'Experience']
    if (len(chuoi)>100):
        job_experience=re.search('\n(.*)\r',chuoi).group(1).replace(" ", "") 
    elif (len(chuoi))<50 and (len(chuoi))>10:
        job_experience=re.search('>(.*)<',chuoi).group(1)
    else:
        job_experience= 'fresher'
    d.append({'Experience_re': job_experience})
    
experience=pd.DataFrame(d)

In [30]:
experience.head()

                 Experience_re
0                     2-5Years
1  Experienced (Non - Manager)
2                      1-Years
3                      1-Years
4                     2-4Years

In [31]:
data = pd.concat([data, experience], axis=1, join='inner')
data.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'Title', 'Company', 'Industry', 'Type',
       'Location', 'Salary', 'Experience', 'Level', 'Benefit', 'Description',
       'Requirement', 'Link', 'Industry_re', 'Experience_re'],
      dtype='object')

In [32]:
# Handling Benefit data by regular expression, create column of 'Benefit_re'
import re
d=[]

for i in range(len(data['Benefit'])):
    chuoi = data.loc[i,'Benefit']
    if chuoi=='Not found':
        new_strings='None'       
    else:
        job_benefit=re.findall('</span>[\w ]{0,}</li>',str(chuoi))
        new_strings = []
        for string in job_benefit:
            new_string = string.replace("</span>", "")
            new_string = new_string.replace("</li>","").replace("['","")
            new_strings.append(new_string)
            
    d.append({'Benefit_re': new_strings})
benefit=pd.DataFrame(d)

In [33]:
benefit.head()

                                          Benefit_re
0  [ Laptop,  Insurance,  Travel,  Allowances,  E...
1              [ Insurance,  Travel,  Salary review]
2     [ Insurance,  Training Scheme,  Salary review]
3  [ Laptop,  Insurance,  Travel,  Allowances,  U...
4  [ Insurance,  Travel,  Incentive bonus,  Salar...

In [34]:
# Handling Description data by regular expression, create column of 'Description_re'
d=[]
for i in range(len(data['Description'])):
    chuoi = data.loc[i,'Description']
    if chuoi is None:
        new_strings='None'       
    else:
        job_description=re.findall('>(.*)>',chuoi)
        new_strings = []
        for string in job_description:
            new_string = (string.replace('<p>', '').replace('</p>','').replace('<strong>','').replace('</p','').replace('[]','').
            replace('</strong>','')).replace('[','').replace('<em>','').replace('</em>','').replace('<p','').replace('<br>','')
            new_strings.append(new_string)
    d.append({'Description_re': new_strings})   
description=pd.DataFrame(d)

In [35]:
description.tail()

                                         Description_re
4738  [- Create Demo App to show the output of resea...
4739                                                 []
4740  [COMPANY OVERVIEWThe company's history and leg...
4741                                                 []
4742                         [Lập trình C/C++, Python.]

In [14]:
# Handling Requirement data by regular expression, create column of 'Requirement_re'
d=[]
for i in range(len(data['Requirement'])):
    chuoi = data.loc[i,'Requirement']
    if chuoi is None:
        new_strings='None'       
    else:
        job_description=re.findall('>(.*)>',chuoi)
        new_strings = []
        for string in job_description:
            new_string = string.replace('[','').replace('<p>', '').replace('</p>','').replace('<strong>','').replace('</strong>','').replace('\xa0','').replace(']',"").replace('<em>','').replace('</em>','').replace('<p','').replace('<br/>','')
            new_strings.append(new_string)
    d.append({'Requirement_re': new_strings})   
requirement=pd.DataFrame(d)
requirement.tail()

                                         Requirement_re
4738  [- Ability to develop AI models by trial and e...
4739  [Must have, · Bachelor degree or above in Comp...
4740  [JOB REQUIREMENTS, · Leadership skill for mana...
4741                                                 []
4742  [- Tốt nghiệp Đại học chuyên ngành công nghệ t...

In [15]:
data = pd.concat([data,description,requirement,benefit], axis=1, join='inner') #, benefit
data.head()

,Unnamed: 0,Unnamed: 0.1,Title,Company,Industry,Type,Location,Salary,Experience,Level,Benefit,Description,Requirement,Link,Industry_re,Experience_re,Description_re,Requirement_re,Benefit_re
0,0,0,AI Engineer,Công Ty Cổ Phần VHRS,"<a href=""https://careerbuilder.vn/jobs/it-soft...",Permanent,Ha Noi,Competitive,<p>\r\n ...,Experienced (Non - Manager),"[<li><span class=""fa fa-laptop""></span> Laptop...",[],[<p>Good programming skill in one of languages...,https://careerbuilder.vn/en/search-job/ai-engi...,IT-Software,2-5Years,[],"[Good programming skill in one of languages C,...","[ Laptop, Insurance, Travel, Allowances, E..."
1,1,1,57528 - AI Engineer,"RGF HR Agent Vietnam Co., LTD","<a href=""https://careerbuilder.vn/jobs/it-soft...",Permanent,Ha Noi,"430 - 1,000 USD",<p>Experienced (Non - Manager)</p>,21/03/2021,"[<li><span class=""fa fa-medkit""></span> Insura...",[<p><strong><em>Job Details </em></strong><br>...,[<p><strong><em>Requirements</em></strong></p>...,https://careerbuilder.vn/en/search-job/57528-a...,IT-Software,Experienced (Non - Manager),[Job Details Position: AI Engineer - IT / Kỹ s...,"[Requirements, ・Education: College and above (...","[ Insurance, Travel, Salary review]"
2,2,2,57980 - AI Engineer,"RGF HR Agent Vietnam Co., LTD","<a href=""https://careerbuilder.vn/jobs/it-soft...",Permanent,Ho Chi Minh,"1,000 - 1,500 USD",<p>\r\n ...,Experienced (Non - Manager),"[<li><span class=""fa fa-medkit""></span> Insura...",[<p><em><strong>Job Details </strong></em><br>...,[<p><strong><em>Requirements</em></strong></p>...,https://careerbuilder.vn/en/search-job/57980-a...,IT-Software,1-Years,[Job Details Position: AI Engineer (on Mobile/...,"[Requirements, - Gender: Any, Age: 23-35- Degr...","[ Insurance, Training Scheme, Salary review]"
3,3,3,Kỹ sư AI,Công ty Cổ phần Đầu tư Phát triển Công nghệ đi...,"<a href=""https://careerbuilder.vn/jobs/it-soft...",Permanent,Ha Noi,10 Mil - 35 Mil VND,<p>\r\n ...,Experienced (Non - Manager),"[<li><span class=""fa fa-laptop""></span> Laptop...","[<p>– Nghiên cứu, phát triển các ứng dụng AI t...",[<p>– Có kinh nghiệm với 1 trong các ngôn ngữ ...,https://careerbuilder.vn/en/search-job/ky-su-a...,IT-Software,1-Years,"[– Nghiên cứu, phát triển các ứng dụng AI theo...",[– Có kinh nghiệm với 1 trong các ngôn ngữ lập...,"[ Laptop, Insurance, Travel, Allowances, U..."
4,4,4,AI Engineer,Công Ty TNHH MTV Wacontre,"<a href=""https://careerbuilder.vn/jobs/it-soft...",Permanent,Ha Noi,15 Mil - 35 Mil VND,<p>\r\n ...,Experienced (Non - Manager),"[<li><span class=""fa fa-medkit""></span> Insura...",[<p>\r\n\tJoin our team to solve Computer Visi...,"[<p>\r\n\tMust Have:</p>, <p>\r\n\tNice to Hav...",https://careerbuilder.vn/en/search-job/ai-engi...,IT-Software,2-4Years,"[, ]","[, , , ]","[ Insurance, Travel, Incentive bonus, Salar..."

In [16]:
#Checking Null data
data.isnull().sum()

Unnamed: 0         0
Unnamed: 0.1       0
Title              0
Company            0
Industry           0
Type               0
Location           0
Salary             0
Experience         0
Level              0
Benefit           88
Description        0
Requirement        0
Link               0
Industry_re        0
Experience_re      0
Description_re     0
Requirement_re     0
Benefit_re         0
dtype: int64

In [19]:
data=data.drop(data.columns[[0,1,4,8,10,11,12,13]], axis=1)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4743 entries, 0 to 4742
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Title           4743 non-null   object
 1   Company         4743 non-null   object
 2   Type            4743 non-null   object
 3   Location        4743 non-null   object
 4   Salary          4743 non-null   object
 5   Level           4743 non-null   object
 6   Industry_re     4743 non-null   object
 7   Experience_re   4743 non-null   object
 8   Description_re  4743 non-null   object
 9   Requirement_re  4743 non-null   object
 10  Benefit_re      4743 non-null   object
dtypes: object(11)
memory usage: 407.7+ KB

In [20]:
data.to_csv('Final_Data_Career.csv')

## Conclusion
In this part, what did I learn as follows:
* How to use regular expression to handle text 
* Data cleaning (duplicated/Null data/Combine ...)